@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}



/*ヘッダー*/
.header{
    width: 100%;
    height: 10vh;
    font-size: 30px;
    font-family: serif;
    color: black;
    background-color: white;
    border-bottom: solid;
    border-color: red;
}
.header span{
    color: red;
}

/*ラッパー*/
.Wrapper{
    display: inline-block;
    height: 90vh;
    width: calc( 98vw / 2 );
    
}

#main_Area{
    height: 90vh;
    width: 100vw;

    display: flex;
    flex-wrap: wrap;
}
.P1.btn{
    background-color: gray;
}
.P2.btn{
    background-color: gray;
}


/*P1のエリア*/

.P1{
    background-color: black;
    color: white;
}

/*P2のエリア*/
.P2{
    background-color: white;
    color: black;
}
