@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}



/*ヘッダー*/
.header{
    width: 100%;
    height: 10vh;
    font-size: 30px;
    font-family: serif;
    color: rgb(255, 0, 221);
    background-color: rgba(0, 255, 0, 0.221);
}

/*ラッパー*/
.Wrapper{
<<<<<<< HEAD
    width: 50%;
    height: 80%;
    display: inline-block;

=======
    display: inline-block;
    height: 90vh;
    width: calc( 98vw / 2 );
    
}

#main_Area{
    height: 90vh;
    width: 100vw;
>>>>>>> 56d1fe8858481df0159ae4bdd437ae0aa90070f6
}

.P1.btn{
    background-color: gray;
}
.P2.btn{
    background-color: gray;
}


/*P1のエリア*/

.P1{
    background-color: black;
    color: white;
}

/*P2のエリア*/
.P2{
    background-color: white;
    color: black;
}
